@{
    ViewBag.Title = "Contact";
}
<div class="body_mid_index">
    <div class="trang_chu">

        <h1 class="ten-mon-hoc">ĐỒ ÁN MÔN THỰC TẬP CƠ SỞ</h1>
        <h2 class="detai">đề tài: Tạo báo cáo động</h2>
        <div class="giangvien-sinhvien">
            <div class="info">

                <h2 class="chitietgv">Giảng viên hướng dẫn 1:Lưu Nguyễn Kỳ Thư </h2>
            </div>
            <div class="info">
                <h2 class="chitietgv">Giảng viên hướng dẫn 2: Huỳnh Trung Trụ</h2>
            </div>
            <div class="info">
                <h2 class="chitietgv">Giảng viên phản biện: Huỳnh Trung Trụ</h2>
            </div>
            <div class="info">
                <h2 class="chitietsv">Sinh Viên báo cáo: Nguyễn Trọng Sơn </h2>
            </div>
            <h5>HCM Ngày 26 Tháng 4 Năm 2022 </h5>
        </div>