@{
    ViewBag.Title = "Home Page";
}
@using MVC_TTCS.Models
@model gui_query


 <div class="body_mid_contact">
     
    <div class="body_work">
        <div class="left_work">
            <div class="table_column" id="tett" style="text-align: center;margin-top: 50px;">
                <ul id="table_add"></ul>
            </div>
        </div>

        <div class="right_work">
            <div id="work_space_contact">
                <div class="row" id="row1">
                    <div class="right_work_table_name" style="background: #a9c5eb;">table</div>
                    <div class="right_work_column_name" style="background: #a9c5eb;">column</div>
                    <div class="right_work_fun" style="background: #a9c5eb;">fun</div>
                    <div class="right_work_sort" style="background: #a9c5eb;">sort</div>
                    <div class="tmp_input " style="background: #a9c5eb;">input sherr</div>
                </div>
            </div>
           
        </div>
        <div class="btn_clear_and_print">
            <ul class="2btn" style=" list-style: none;">
                <li>
                    <button class="head3" onclick="clear_all_colum()" type"reload" >clear all colum</button>
                </li>
                <li>
                    <button class="head4" onclick="sinh_sql()">print</button>
                </li>
            </ul>
           </div>
    </div>
     @using (Html.BeginForm("Index", "Home", FormMethod.Post))
     {

        <div class="header_contact">

            <p class="work_name">database</p>

            @Html.TextAreaFor(m => m.gui_Lenh_SQL)
            @* cllass ="edittext" data-lexical-text="true" id="SQL_input" value="tesst" style="font-size:25px;"></textarea>*@
            <div class="head1">
                <button class="head2" type="submit">print report</button>
            </div>
        </div>}
</div>

<input id="gettable" value="@ViewBag.gettable" style="display:none;">
<input id="getcolumn" value="@ViewBag.getcolumn" style="display:none">
<input id="gettype" value="@ViewBag.gettype" style="display:none">
<style>
    :root {
        --textHead: #000000;
        --hovertext: #f80f0f;
        --boder-coloer: #89f7fe;
        --bkgcolor: linear-gradient(45deg, #6f86d6, #89f7fe);
        --button_color: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
        --header_color: linear-gradient(45deg, #108dc7, #ef8e38);
        --menu_tmp: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7));
        background: var( --bkgcolor);
    }


    form{
        position:fixed;
        bottom:0;
        display: flex;
        width: 100%;
    justify-content: space-between;
    }
    .header_contact {
        display: flex;
        width: 100%;

        margin-left: 20px;
        margin-right: 20px;

        border: none;
        border-radius: 20px;
        justify-content: space-between;
        align-items: center;
        background: #b2e9f9;
    }
    .body_mid_contact {
        display: block;
    }
    

        .header_contact p {
            height: 100%;
            width: 10%;
            font-size: 30px;
            text-align: center;
        }

    .edittext {
        background: none;
    }

    textarea {
        clear: left;
        min-width: 60%;
        max-width: 60%;
        min-height: 150px;
        max-height: 150px;
    }

    .head1 {
        height: 150px;
        margin-right: 20px;
    }

    
    .head2 {
        height: 100%;
        /* width: 100px; */
        border-radius: 4px;
        border: none;
        background: var(--bkgcolor);
        font-size: 20px;
    }
     .head4,
    .head3 {
        height:80px ;
        margin-top:30px;
        width: 80%;
        border-radius: 10px;
        border: none;
        background: var(--bkgcolor);
        font-size: 25px;
    }

     .btn_clear_and_print{
         display: inline-block;
         position:fixed;
         right:0;
         justify-content:center;
         margin-bottom:160px;
     }
        .head2:hover, .head3:hover, .head4:hover {
            cursor: pointer;
            background: linear-gradient(135deg, rgb(224, 37, 199), rgb(255, 188, 246), rgb(255, 212, 249));
        }


    .body_work {
        display: flex;
        margin-bottom: 200px
    }

    .left_work,
    .right_work {
        background: var(--button_color);
        margin-top: 30px;
        border: none;
        min-height: 100vh;
        border-radius: 20px;
    }

    .left_work {
        margin-left: 20px;
        width: 30%;
        background: #a9c5eb;
    }

    .right_work {
        margin-left: 20px;
        width: 100%;
    }

    #work_space_contact {
        margin-top: 30px;
        margin-bottom: 50px;
        margin-left: 20px;
    }


    /* menu doc da cap */

    .table_column ul {
        width: 100%;
        padding: 0;
        list-style-type: none;
        background: #a9c5eb;
    }

        .table_column ul li {
            width: auto;
            height: 40px;
            line-height: 40px;
            border-bottom: 1px solid rgb(255, 0, 200);
            /* padding: 0 1em; */
            position: relative;
            font-size: 25px;
        }

            .table_column ul li a {
                text-decoration: none;
                color: rgb(0, 0, 0);
                font-weight: bold;
                display: block;
            }

            .table_column ul li:hover {
                background: rgb(255, 0, 200);
                cursor: pointer;
            }

    .colum_add {
        position: absolute;
        left: 100%;
        top: 0;
        display: none;
        z-index:1;
    }

    .table_column ul li:hover .colum_add {
        display: block;
    }

    .column_pick {
        font-size: 25px;
        border: none;
        background: #a9c5eb;
        height: 80%;
        width: 100%;
        color: black;
        font-weight: bold;
    }

        .column_pick:hover {
            /* background: aqua; */
            cursor: pointer;
        }


    /* done menu */


    /* wwork */

    .row {
        display: flex;
        height: 50px;
        /* border: 1px solid rgb(2, 46, 46); */
        align-items: center;
        margin-top: 10px;
    }
 
        .right_work_table_name,
        .right_work_column_name,
        .right_work_fun,
        .right_work_sort,
        .row button,
        .right_work_fun option,
        .tmp_input {
            margin-left: 10px;
            height: 90%;
            font-size: 25px;
            border: 2px solid var(--boder-coloer);
            border-radius: 15px;
            background: var(--menu_tmp);
            outline: none;
            text-align: center;
        }

    .right_work_table_name {
        width: 200px;
    }

    .right_work_column_name {
        width: 400px;
    }

    .right_work_fun,
    .right_work_sort {
        width: 100px;
    }

    .row input,
    .tmp_input {
        margin-left: 10px;
        height: 80%;
        width: 200px;
    }

    .right_work_fun:hover,
    .right_work_sort:hover,
    .row button:hover {
        background: #a9c5eb;
        cursor: pointer;
    }

    .right_work_table_name:hover,
    .right_work_column_name:hover,
    .right_work_fun:hover,
    .right_work_sort:hover,
    .row button:hover,
    .right_work_fun option:hover,
    .tmp_input:hover {
        cursor: pointer;
    }

</style>
<script type="text/javascript">

    //getdatabase
    var table = new Array();
        

        //get database (table and column)
    var gettable = document.getElementById('gettable')
    var tabletmp = gettable.value

    var getcolumn = document.getElementById('getcolumn')
    var columntmp = getcolumn.value

    var gettable = document.getElementById('gettype')
    var typetmp= gettype.value

    var arr_table=tabletmp.split('_');
    var arr_column = columntmp.split('_');
    var tmp_arr = typetmp.split('_');

    var arr_type = new Array();
    for (var i = 1; i < tmp_arr.length; i++) {
        var arr = tmp_arr[i].split('-');
        arr_type.push(arr);
    }



    var tmp1 = new Array();
    // add table
        for (var i = 1; i < arr_table.length; i++)
        {
            var tmp = arr_table[i].split('.');
            tmp1.push(tmp[1]);
        }
        table.push(tmp1);

 //add column
        for (var i = 1; i < arr_table.length; i++) {
            var tmp = arr_table[i].split('.');
            var tmp2 = new Array();
            for (var j = 1; j < arr_column.length; j++) {
                var column_tmp_check = arr_column[j].split('.')
                if (column_tmp_check[0] == tmp[0]) {
                    tmp2.push(column_tmp_check[1])
                }
            }
            table.push(tmp2);
        }

    // add table
        creat_column_database(table)
            function creat_column_database(table) {

                for (var i = 0; i < table[0].length; i++) {

                    var table_name = table[0][i];

                    var text_table = '<li class="table_add_li" id="' + table_name + '_li">\n<a>' + table_name + '</a>\n<ul class="colum_add" id="' + table_name + '_column_add">\n</ul>\n</li>'
                    document.getElementById('table_add').insertAdjacentHTML('beforeend', text_table);
                    for (var j = 0; j < table[i + 1].length; j++) {
                        var column_name = table[i + 1][j];
                        var text_column = '<li>\n<button class="column_pick" id="' + table_name + '.' + column_name + '">' + column_name + '</button>\n</li>';
                        document.getElementById(table_name + '_column_add').insertAdjacentHTML('beforeend', text_column);
                        var add_id = document.getElementById(table_name + '.' + column_name);
                        add_id.setAttribute('onclick', 'add_column_to_work(\'' + table_name + '.' + column_name+ '\')');
                    }
                }
            }
    //

            var table_pick_column = new Array();
            var arr_groupby = new Array();
            var tmp_pick_colum = 0;

    //////
            var input_select ="select";
            var input_from = " from ";
            var input_groupby = 'group by ';
            var input_sql = document.getElementById("gui_Lenh_SQL");
            
    //bat sukien onclick cuar button column
            function add_column_to_work(tmp_data) {
                //
                
                var tmpstr_data = tmp_data.split(".")
                var table_data = tmpstr_data[0];
                var column_data = tmpstr_data[1];

                // add bang
                tmp_pick_colum += 1;
                table_pick_column.push(tmp_data);
                let del = document.getElementById(tmp_data);
                del.disabled = true;
                del.style.background = "gray";

                var row_add = '<div class="row" id="row_' + table_data + '.' + column_data + '">\n<div class="right_work_table_name" >' + table_data + '</div>\n<div class="right_work_column_name" id="add_select_' + table_data + '.' + column_data + '">' + column_data + '</div>\n</select>\n<select class="right_work_sort" onchange="right_work_sort(this)" >\n    <option value="' + table_data + '.' + column_data + '_sort">sort</option>\n    <option value="' + table_data + '.' + column_data + '_ASC">ASC</option>\n    <option value="' + table_data + '.' + column_data + '_DESC">DESC</option>\n</select>\n<input type="text" id = "input_row_' + table_data + '.' + column_data + '">\n</div>'
                var htmlObj = document.getElementById('work_space_contact');
                htmlObj.innerHTML = htmlObj.innerHTML + row_add;
                if (tracuu_type_colummn(table_data + '.' + column_data) == "int" || tracuu_type_colummn(table_data + '.' + column_data) == "float") {
                    var add_tmp_select_fun = '\n<select class="right_work_fun"  onchange="right_work_fun(this)">\n    <option value="' + table_data + '.' + column_data + '_none">none</option>\n    <option value="' + table_data + '.' + column_data + '_sum">sum</option>\n    <option value="' + table_data + '.' + column_data + '_count">count</option>\n    <option value="' + table_data + '.' + column_data + '_min">min</option>\n    <option value="' + table_data + '.' + column_data + '_max">max</option>\n    <option value="' + table_data + '.' + column_data + '_avg">avg</option>'

                    document.getElementById("add_select_" + table_data + '.' + column_data).insertAdjacentHTML('afterend', add_tmp_select_fun);

                }


                //add button
                var text_button_add = '<button id="button_' + table_data + '.' + column_data + '">clear</button>';
                document.getElementById('row_' + table_data + '.' + column_data).insertAdjacentHTML('beforeend', text_button_add);
                var del_id = document.getElementById('button_' + table_data + '.' + column_data);
                del_id.setAttribute('onclick', 'deleterow(\'row_' + table_data + '.' + column_data + '\')')


                if (arr_groupby.includes(table_data + '.' + column_data) == false) {
                    arr_groupby.push(table_data + '.' + column_data);
                }
                sinh_sql()
            }


    // bawt sukien onclick cua button clear
            function deleterow(tmp_delete) {

                var child = document.getElementById(tmp_delete);
                child.remove(tmp_delete);

                var del = tmp_delete.replace('row_', '')
                table_pick_column.splice(table_pick_column.indexOf(del), 1);
                let restore = document.getElementById(del);

                restore.disabled = false;
                restore.style.background = "#a9c5eb";
                dem_sum--;


                console.log(table_pick_column)
                console.log(arr_sum)
                console.log(arr_count)
                console.log(arr_min)
                console.log(arr_max)
                console.log(arr_average)
                if (arr_sum.includes(del) == true)
                    arr_sum.splice(arr_sum.indexOf(del), 1);
                else if (arr_count.includes(del) == true)
                    arr_count.splice(arr_count.indexOf(del), 1);
                else if (arr_min.includes(del) == true)
                    arr_min.splice(arr_min.indexOf(del), 1);
                else if (arr_max.includes(del) == true)
                    arr_max.splice(arr_max.indexOf(del), 1);
                else if (arr_average.includes(del) == true)
                    arr_average.splice(arr_average.indexOf(del), 1);
                else
                    dem_sum++;
                console.log(table_pick_column)
                console.log(arr_sum)
                console.log(arr_count)
                console.log(arr_min)
                console.log(arr_max)
                console.log(arr_average)
                console.log(dem_sum)


                arr_groupby.splice(arr_groupby.indexOf(del), 1);

                if (arr_desc_asc.length!=0)
                {

                    if (arr_desc_asc.includes(del + '_ASC') == true)
                    {
                        arr_desc_asc.splice(arr_desc_asc.indexOf(del + '_ASC'), 1);
                    }
                    if (arr_desc_asc.includes(del+"_DESC") == true)
                        arr_desc_asc.splice(arr_desc_asc.indexOf(del + '_DESC'), 1);


                    for (var i = 0; i < arr_desc_asc.length; i++)
                    {

                        var dell_tmpp = arr_desc_asc[i].split('_');
                        if (table_pick_column.includes(dell_tmpp[0]) == false) {
                            arr_desc_asc.splice(arr_desc_asc.indexof(dell_tmpp[0] + dell_tmpp[1]), 1);
                        }
                    }


                }

                

                sinh_sql();
            }
    // bat su kien onclick nut clear all column
            function clear_all_colum() {
                input_select = "select";
                input_groupby = 'group by ';
                input_from = " from ";
                var tmp = table_pick_column.length
                for (let i = 0; i < tmp; i++) {
                    var del_tmp = table_pick_column.pop();
                    var del = 'row_' + del_tmp;
                    tmp_pick_colum--;
                    var child = document.getElementById(del);
                    child.remove(del);
                    // mo lai nut trong pick column
                    let restore = document.getElementById(del_tmp);
                    restore.disabled = false;
                    restore.style.background = "#a9c5eb";
                }

                //
                arr_groupby.length = [];
                arr_sum.length = [];
                arr_count.length = [];
                arr_min.length = [];
                arr_max.length = [];
                arr_average.length = [];
                arr_desc_asc.length = [];

                //

                // update text sql
                var a = document.getElementById("gui_Lenh_SQL");
                a.value = '';
            }
    // bat sukien button sinh sql

            function sinh_sql() {
                input_select = "select ";
                input_from = " from ";
                input_groupby = ' group by ';
                input_orderby = ' order by ';
                input_input = ' where ';
                var input_tmp = 'input_row_';
                var sum_sql = '';
                var arr_input = new Array();


                for (var i = 0; i < table_pick_column.length; i++) {
                    var tmp_table_column_split = table_pick_column[i]
                    var tb_arr_tmp = tmp_table_column_split.split('.');
                    if (i > 0) {
                        input_select += ', ';
                    }
                    if (i < 1) {
                        input_from += " " + tb_arr_tmp[0];
                    }
                    if (arr_groupby.includes(table_pick_column[i]) == true) {
                        input_select += table_pick_column[i];
                    }
                    else {
                        if (arr_sum.includes(table_pick_column[i]) == true) {
                            input_select += 'SUM(' + table_pick_column[i] + ')';
                        }
                        else if (arr_count.includes(table_pick_column[i]) == true) {
                            input_select += 'COUNT(' + table_pick_column[i] + ')';

                        }
                        else if (arr_min.includes(table_pick_column[i]) == true) {

                            input_select += 'MIN(' + table_pick_column[i] + ')';
                        }
                        else if (arr_max.includes(table_pick_column[i]) == true) {
                            input_select += 'MAX(' + table_pick_column[i] + ')';

                        }
                        else if (arr_average.includes(table_pick_column[i]) == true) {

                            input_select += 'AVG(' + table_pick_column[i] + ')';
                        }
                        else
                            input_select += table_pick_column[i];

                    }
                    if (input_from.includes(tb_arr_tmp[0]) == false && i > 0)
                        input_from += "," + tb_arr_tmp[0];
                }


                input_groupby += arr_groupby[0];
                for (var i = 1; i < arr_groupby.length; i++) {
                    input_groupby += ',' + arr_groupby[i];
                }



                if (arr_desc_asc.length != 0) {
                    var tmp_desc_asc = arr_desc_asc[0].split('_')

                    if (arr_sum.includes(tmp_desc_asc[0]) == true) {
                        input_orderby += 'SUM(' + tmp_desc_asc[0] + ') ' + tmp_desc_asc[1];
                    }
                    else if (arr_count.includes(tmp_desc_asc[0]) == true) {
                        input_orderby += 'COUNT(' + tmp_desc_asc[0] + ') ' + tmp_desc_asc[1];

                    }
                    else if (arr_min.includes(tmp_desc_asc[0]) == true) {

                        input_orderby += 'MIN(' + tmp_desc_asc[0] + ') ' + tmp_desc_asc[1];
                    }
                    else if (arr_max.includes(tmp_desc_asc[0]) == true) {
                        input_orderby += 'MAX(' + tmp_desc_asc[0] + ') ' + tmp_desc_asc[1];

                    }
                    else if (arr_average.includes(tmp_desc_asc[0]) == true) {

                        input_orderby += 'AVG(' + tmp_desc_asc[0] + ') ' + tmp_desc_asc[1];
                    }
                    else
                        input_orderby += tmp_desc_asc[0] + " " + tmp_desc_asc[1];
                    for (var i = 1; i < arr_desc_asc.length; i++) {
                        tmp_desc_asc = arr_desc_asc[i].split('_')


                        input_orderby += ', ';
                        if (arr_sum.includes(tmp_desc_asc[0]) == true) {
                            input_orderby += 'SUM(' + tmp_desc_asc[0] + ') ' + tmp_desc_asc[1];
                        }
                        else if (arr_count.includes(tmp_desc_asc[0]) == true) {
                            input_orderby += 'COUNT(' + tmp_desc_asc[0] + ') ' + tmp_desc_asc[1];

                        }
                        else if (arr_min.includes(tmp_desc_asc[0]) == true) {

                            input_orderby += 'MIN(' + tmp_desc_asc[0] + ') ' + tmp_desc_asc[1];
                        }
                        else if (arr_max.includes(tmp_desc_asc[0]) == true) {
                            input_orderby += 'MAX(' + tmp_desc_asc[0] + ') ' + tmp_desc_asc[1];

                        }
                        else if (arr_average.includes(tmp_desc_asc[0]) == true) {

                            input_orderby += 'AVG(' + tmp_desc_asc[0] + ') ' + tmp_desc_asc[1];
                        }
                        else
                            input_orderby += tmp_desc_asc[0] + " " + tmp_desc_asc[1];

                    }

                }

                var co = false;
                //bawts input
                for (var i = 0; i < table_pick_column.length; i++) {
                    var ip_tmp = document.getElementById("input_row_" + table_pick_column[i]);
                    var str_tmp = ip_tmp.value
                    str_tmp.trimStart();
                    str_tmp.trimEnd();

                    if (typeof (str_tmp) != undefined && str_tmp != '') {
                        arr_input.push(table_pick_column[i]+str_tmp);
                        co = true;
                    }

                }
                var tmp_input_str = arr_input.join(',');
                input_input += " " + tmp_input_str
                if (arr_groupby.length == 0)
                    input_groupby = "";

     

                if (co == false ) {
                    if (dem_sum == 0 && arr_desc_asc.length == 0) {
                        sum_sql = input_select + input_from;
                    }
                    else if (dem_sum != 0 && arr_desc_asc.length == 0)
                        sum_sql = input_select + input_from + '\n' + input_groupby;
                    else if (dem_sum == 0 && arr_desc_asc.length != 0)
                        sum_sql = input_select + input_from + '\n' + input_orderby;
                    else {
                        sum_sql = input_select + input_from + '\n' + input_groupby + '\n' + input_orderby;
                    }
                }
                else {
                    if (dem_sum == 0 && arr_desc_asc.length == 0) {
                        sum_sql = input_select + input_from + input_input;
                    }
                    else if (dem_sum != 0 && arr_desc_asc.length == 0)
                        sum_sql = input_select + input_from + input_input + '\n' + input_groupby;
                    else if (dem_sum == 0 && arr_desc_asc.length != 0)
                        sum_sql = input_select + input_from + input_input + '\n' + input_orderby;
                    else {
                        sum_sql = input_select + input_from + input_input + '\n' + input_groupby + '\n' + input_orderby;
                    }
                }
                input_sql.value = sum_sql;
                if (table_pick_column.length == 0)
                    input_sql.value = '';
            }


            var arr_sum = new Array();
            var arr_count = new Array();
            var arr_min = new Array();
            var arr_max = new Array();
            var arr_average = new Array();

            var arr_desc_asc = new Array();
            var dem_sum = 0;
            var dem_sort = 0;


            function right_work_fun(tmp_fun)
            {
                var fun = tmp_fun.value;
                var ham;
                var data_name;
                var column_name;
                fun = fun.replace('_', '.');
                fun = fun.split('.');
                data_name = fun[0];
                column_name = fun[1];
                ham = fun[2];
                id_work = data_name + '.' + column_name;
                

                if (arr_sum.includes(id_work) == true) {
                    arr_sum.splice(arr_sum.indexOf(id_work), 1);
                    dem_sum--;
                }
                else if (arr_count.includes(id_work) == true) {
                    arr_count.splice(arr_count.indexOf(id_work), 1);
                    dem_sum--;
                }
                else if (arr_min.includes(id_work) == true) {
                    arr_min.splice(arr_min.indexOf(id_work), 1);
                    dem_sum--;
                }
                else if (arr_max.includes(id_work) == true) {
                    arr_max.splice(arr_max.indexOf(id_work), 1);
                    dem_sum--;
                }
                else if (arr_average.includes(id_work) == true) {
                    arr_average.splice(arr_average.indexOf(id_work), 1);
                    dem_sum--
                }


               
                if (ham=='sum')
                {
                    arr_sum.push(id_work);
                    dem_sum++;
                    if (arr_groupby.includes(id_work) == true)
                        arr_groupby.splice(arr_groupby.indexOf(id_work), 1);
                }
                else if (ham == 'count') {
                    arr_count.push(id_work);
                    dem_sum++;
                    if (arr_groupby.includes(id_work) == true)
                        arr_groupby.splice(arr_groupby.indexOf(id_work), 1);
                }
                else if (ham == 'min') {
                    arr_min.push(id_work);
                    dem_sum++;
                    if (arr_groupby.includes(id_work) == true)
                        arr_groupby.splice(arr_groupby.indexOf(id_work), 1);
                }
                else if (ham == 'max') {
                    arr_max.push(id_work);
                    dem_sum++;
                    if (arr_groupby.includes(id_work) == true)
                        arr_groupby.splice(arr_groupby.indexOf(id_work), 1);
                }
                else if (ham == 'avg') {
                    arr_average.push(id_work);
                    dem_sum++;
                    if (arr_groupby.includes(id_work) == true)
                        arr_groupby.splice(arr_groupby.indexOf(id_work), 1);
                }
                else if (ham == 'none') {
                    arr_groupby.push(id_work);
                    if (arr_sum.includes(id_work) == true)
                    {
                        arr_sum.splice(arr_sum.indexOf(id_work), 1);
                        dem_sum--;
                    }
                    else if (arr_count.includes(id_work) == true)
                    {
                        arr_count.splice(arr_count.indexOf(id_work), 1);
                        dem_sum--;
                    }
                    else if (arr_min.includes(id_work) == true)
                    {
                        arr_min.splice(arr_min.indexOf(id_work), 1);
                        dem_sum--;
                    }
                    else if (arr_max.includes(id_work) == true)
                    {
                        arr_max.splice(arr_max.indexOf(id_work), 1);
                        dem_sum--;
                    }
                    else if (arr_average.includes(id_work) == true)
                    {
                        arr_average.splice(arr_average.indexOf(id_work), 1);
                        dem_sum--
                    }

                }



                sinh_sql();


            }


            function right_work_sort(tmp_fun) {
                var fun = tmp_fun.value;
                var ham;
                var data_name;
                var column_name;
                fun = fun.replace('_', '.');
                fun = fun.split('.');
                data_name = fun[0];
                column_name = fun[1];
                ham = fun[2];

                id_work = data_name + '.' + column_name;
                if (ham == 'DESC') {
                    arr_desc_asc.push(id_work + '_DESC');
                    dem_sort++;
                    if (arr_desc_asc.includes(id_work + '_ASC') == true) {
                        arr_desc_asc.splice(arr_desc_asc.indexOf(id_work + '_ASC'), 1);
                        dem_sort--;
                    }
                }
                else if (ham == 'ASC') {
                    arr_desc_asc.push(id_work + '_ASC');
                    dem_sort++;
                    if (arr_desc_asc.includes(id_work + '_DESC') == true) {
                        arr_desc_asc.splice(arr_desc_asc.indexOf(id_work + '_DESC'), 1);
                        dem_sort--;
                    }
                }
                else if (ham == 'sort') {
                    
                    if (arr_desc_asc.includes(id_work + '_DESC') == true) {
                        arr_desc_asc.splice(arr_desc_asc.indexOf(id_work + '_DESC'), 1);
                        dem_sort--;
                    }
                    if (arr_desc_asc.includes(id_work + '_ASC') == true) {
                        arr_desc_asc.splice(arr_desc_asc.indexOf(id_work + '_ASC'), 1);
                        dem_sort--;
                    }

                }
                sinh_sql();
            }

    //tim type
            function tracuu_type_colummn(tmp_type)
            {
                var note = '';
                for (var i = 0; i < arr_type.length; i++)
                {
                    if (tmp_type == arr_type[i][0])
                    {
                        note = arr_type[i][1]
                        return note;
                    }
                }
            }

</script>
     

          
       
 