@{
    ViewBag.Title = "Home Page";
}

    <div class="body_mid_index">
    <div class="trang_chu">

        <h1 class="ten-mon-hoc">ĐỒ ÁN MÔN THỰC TẬP CƠ SỞ</h1>
        <h2 class="detai">đề tài: Tạo báo cáo động</h2>
        <div class="giangvien-sinhvien">
            <div class="info">
                <h2 class="chitietgv">Giảng viên: </h2>
                <h2 class="tengv"> Lưu Nguyễn Kỳ Thư</h2>
            </div>
            <div class="info">
                <h2 class="chitietsv">Sinh Viên: </h2>
                <h2 class="tensv"> Nguyễn Trọng Sơn</h2>
            </div>
            <h5>HCM Ngày....Tháng...Năm... </h5>
        </div>
        

    </div>
        
</div>


<h3>sddddddasdasdasdasd</h3>
<h3>sddddddasdasdasdasd</h3>
<h3>sddddddasdasdasdasd</h3>
<h3>sddddddasdasdasdasd</h3>
<h3>sddddddasdasdasdasd</h3>
<h3>sddddddasdasdasdasd</h3>
<h3>sddddddasdasdasdasd</h3>
<h3>sddddddasdasdasdasd</h3>
<h3>sddddddasdasdasdasd</h3>
<h3>sddddddasdasdasdasd</h3>
<h3>sddddddasdasdasdasd</h3>
<h3>sddddddasdasdasdasd</h3>
<h3>sddddddasdasdasdasd</h3>
<h3>sddddddasdasdasdasd</h3>
<h3>sddddddasdasdasdasd</h3>

<h3>sddddddasdasdasdasd</h3>
<h3>sddddddasdasdasdasd</h3>
<h3>sddddddasdasdasdasd</h3>
<h3>sddddddasdasdasdasd</h3>
<h3>sddddddasdasdasdasd</h3>
<h3>sddddddasdasdasdasd</h3>
<h3>sddddddasdasdasdasd</h3>
<h3>sddddddasdasdasdasd</h3>
<h3>sddddddasdasdasdasd</h3>
<h3>sddddddasdasdasdasd</h3>
<h3>sddddddasdasdasdasd</h3>
<h3>sddddddasdasdasdasd</h3>
<h3>sddddddasdasdasdasd</h3>
<h3>sddddddasdasdasdasd</h3>
<h3>sddddddasdasdasdasd</h3>

<h3>sddddddasdasdasdasd</h3>
<h3>sddddddasdasdasdasd</h3>
<h3>sddddddasdasdasdasd</h3>
<h3>sddddddasdasdasdasd</h3>
<h3>sddddddasdasdasdasd</h3>
<h3>sddddddasdasdasdasd</h3>
<h3>sddddddasdasdasdasd</h3>
<h3>sddddddasdasdasdasd</h3>
<h3>sddddddasdasdasdasd</h3>
<h3>sddddddasdasdasdasd</h3>
<h3>sddddddasdasdasdasd</h3>
<h3>sddddddasdasdasdasd</h3>
<h3>sddddddasdasdasdasd</h3>
<h3>sddddddasdasdasdasd</h3>
<h3>sddddddasdasdasdasd</h3>

<h3>sddddddasdasdasdasd</h3>
<h3>sddddddasdasdasdasd</h3>
<h3>sddddddasdasdasdasd</h3>
<h3>sddddddasdasdasdasd</h3>
<h3>sddddddasdasdasdasd</h3>
<h3>sddddddasdasdasdasd</h3>
<h3>sddddddasdasdasdasd</h3>
<h3>sddddddasdasdasdasd</h3>
<h3>sddddddasdasdasdasd</h3>
<h3>sddddddasdasdasdasd</h3>
<h3>sddddddasdasdasdasd</h3>
<h3>sddddddasdasdasdasd</h3>
<h3>sddddddasdasdasdasd</h3>
<h3>sddddddasdasdasdasd</h3>
<h3>sddddddasdasdasdasd</h3>