* {
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
}

:root {
    --textHead: #000000;
    --hovertext: #f80f0f;
    --boder-coloer: #89f7fe;
    --bkgcolor: linear-gradient(45deg, #6f86d6, #89f7fe);
    --button_color: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    background: linear-gradient(45deg, #6f86d6, #89f7fe);
}




/*body*/
body {
     background: var( --bkgcolor);
    background-repeat: no-repeat;
    display: block;
    background: var( --bkgcolor);
    overflow: hidden;
    min-height: 100vh;
}




/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
